InsuranceClient/src/wsdl/localhost_8080/Insurance/ProductsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.my/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.my/" name="ProductsService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.my/" schemaLocation="http://localhost:8080/Insurance/ProductsService?xsd=1"/>
</xsd:schema>
</types>
<message name="getRegisteredProductByProductName">
<part name="parameters" element="tns:getRegisteredProductByProductName"/>
</message>
<message name="getRegisteredProductByProductNameResponse">
<part name="parameters" element="tns:getRegisteredProductByProductNameResponse"/>
</message>
<message name="getRegisteredProductBySerialNumner">
<part name="parameters" element="tns:getRegisteredProductBySerialNumner"/>
</message>
<message name="getRegisteredProductBySerialNumnerResponse">
<part name="parameters" element="tns:getRegisteredProductBySerialNumnerResponse"/>
</message>
<message name="getAllRegisteredProduct">
<part name="parameters" element="tns:getAllRegisteredProduct"/>
</message>
<message name="getAllRegisteredProductResponse">
<part name="parameters" element="tns:getAllRegisteredProductResponse"/>
</message>
<message name="getRegisteredProduct">
<part name="parameters" element="tns:getRegisteredProduct"/>
</message>
<message name="getRegisteredProductResponse">
<part name="parameters" element="tns:getRegisteredProductResponse"/>
</message>
<message name="getAllProduct">
<part name="parameters" element="tns:getAllProduct"/>
</message>
<message name="getAllProductResponse">
<part name="parameters" element="tns:getAllProductResponse"/>
</message>
<message name="registerProduct">
<part name="parameters" element="tns:registerProduct"/>
</message>
<message name="registerProductResponse">
<part name="parameters" element="tns:registerProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<portType name="Products">
<operation name="getRegisteredProductByProductName">
<input wsam:Action="http://services.my/Products/getRegisteredProductByProductNameRequest" message="tns:getRegisteredProductByProductName"/>
<output wsam:Action="http://services.my/Products/getRegisteredProductByProductNameResponse" message="tns:getRegisteredProductByProductNameResponse"/>
</operation>
<operation name="getRegisteredProductBySerialNumner">
<input wsam:Action="http://services.my/Products/getRegisteredProductBySerialNumnerRequest" message="tns:getRegisteredProductBySerialNumner"/>
<output wsam:Action="http://services.my/Products/getRegisteredProductBySerialNumnerResponse" message="tns:getRegisteredProductBySerialNumnerResponse"/>
</operation>
<operation name="getAllRegisteredProduct">
<input wsam:Action="http://services.my/Products/getAllRegisteredProductRequest" message="tns:getAllRegisteredProduct"/>
<output wsam:Action="http://services.my/Products/getAllRegisteredProductResponse" message="tns:getAllRegisteredProductResponse"/>
</operation>
<operation name="getRegisteredProduct">
<input wsam:Action="http://services.my/Products/getRegisteredProductRequest" message="tns:getRegisteredProduct"/>
<output wsam:Action="http://services.my/Products/getRegisteredProductResponse" message="tns:getRegisteredProductResponse"/>
</operation>
<operation name="getAllProduct">
<input wsam:Action="http://services.my/Products/getAllProductRequest" message="tns:getAllProduct"/>
<output wsam:Action="http://services.my/Products/getAllProductResponse" message="tns:getAllProductResponse"/>
</operation>
<operation name="registerProduct">
<input wsam:Action="http://services.my/Products/registerProductRequest" message="tns:registerProduct"/>
<output wsam:Action="http://services.my/Products/registerProductResponse" message="tns:registerProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://services.my/Products/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://services.my/Products/addProductResponse" message="tns:addProductResponse"/>
</operation>
</portType>
<binding name="ProductsPortBinding" type="tns:Products">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRegisteredProductByProductName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegisteredProductBySerialNumner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRegisteredProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegisteredProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductsService">
<port name="ProductsPort" binding="tns:ProductsPortBinding">
<soap:address location="http://localhost:8080/Insurance/ProductsService"/>
</port>
</service>
</definitions>